In [216]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [217]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [218]:
from sklearn.preprocessing import LabelEncoder

In [219]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [220]:
x = df_train.iloc[:, 80]
y = df_train.iloc[:, -1]

In [221]:
total = df_train.isnull().sum().sort_values(ascending=False)

In [222]:
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)

In [223]:
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [224]:
missing_data.head()

             Total   Percent
PoolQC        1453  0.995205
MiscFeature   1406  0.963014
Alley         1369  0.937671
Fence         1179  0.807534
FireplaceQu    690  0.472603

In [225]:
df_train = df_train.drop((missing_data[missing_data['Total'] > 1]).index,1)
df_train = df_train.drop(df_train.loc[df_train['Electrical'].isnull()].index)
df_train.isnull().sum().max()

0

In [226]:
df_train.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [227]:
x_train = df_train[['OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']]

In [228]:
x_train.head()

   OverallQual  GrLivArea  GarageCars  TotalBsmtSF  FullBath  YearBuilt
0            7       1710           2          856         2       2003
1            6       1262           2         1262         2       1976
2            7       1786           2          920         2       2001
3            7       1717           3          756         1       1915
4            8       2198           3         1145         2       2000

In [229]:
# saleprice_scaled = StandardScaler().fit_transform(df_train['SalePrice'][:,np.newaxis])

In [230]:
y_train = y

In [231]:
x_train.insert(0, 'Ones', 1)
x_train = x_train.values

In [232]:
x_train, y_train

(array([[   1,    7, 1710, ...,  856,    2, 2003],
        [   1,    6, 1262, ..., 1262,    2, 1976],
        [   1,    7, 1786, ...,  920,    2, 2001],
        ...,
        [   1,    7, 2340, ..., 1152,    2, 1941],
        [   1,    5, 1078, ..., 1078,    1, 1950],
        [   1,    5, 1256, ..., 1256,    1, 1965]], dtype=int64),
 0       208500
 1       181500
 2       223500
 3       140000
 4       250000
 5       143000
 6       307000
 7       200000
 8       129900
 9       118000
 10      129500
 11      345000
 12      144000
 13      279500
 14      157000
 15      132000
 16      149000
 17       90000
 18      159000
 19      139000
 20      325300
 21      139400
 22      230000
 23      129900
 24      154000
 25      256300
 26      134800
 27      306000
 28      207500
 29       68500
          ...
 1430    192140
 1431    143750
 1432     64500
 1433    186500
 1434    160000
 1435    174000
 1436    120500
 1437    394617
 1438    149700
 1439    197000
 1440    191000
 1441    149300
 1442    310000
 1443    121000
 1444    179600
 1445    129000
 1446    157900
 1447    240000
 1448    112000
 1449     92000
 1450    136000
 1451    287090
 1452    145000
 1453     84500
 1454    185000
 1455    175000
 1456    210000
 1457    266500
 1458    142125
 1459    147500
 Name: SalePrice, Length: 1460, dtype: int64)

In [233]:
x_train.shape

(1459, 7)

In [234]:
# x_train = StandardScaler().fit_transform(x_train)

In [235]:
x_test = df_test[['OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']]
x_test.head()

   OverallQual  GrLivArea  GarageCars  TotalBsmtSF  FullBath  YearBuilt
0            5        896         1.0        882.0         1       1961
1            6       1329         1.0       1329.0         1       1958
2            5       1629         2.0        928.0         2       1997
3            6       1604         2.0        926.0         2       1998
4            8       1280         2.0       1280.0         2       1992

In [236]:
x_test.fillna(method = 'backfill', inplace = True)
x_test.insert(0, 'Ones', 1)
x_test = x_test.values
x_test = StandardScaler().fit_transform(x_test)

C:\Users\hp\Anaconda3\lib\site-packages\pandas\core\frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [237]:
x_test

array([[ 0.        , -0.75110125, -1.21558782, ..., -0.37020295,
        -1.02871967, -0.34094461],
       [ 0.        , -0.05487716, -0.32353941, ...,  0.63954322,
        -1.02871967, -0.43969491],
       [ 0.        , -0.75110125,  0.29450799, ..., -0.26629171,
         0.77308345,  0.844059  ],
       ...,
       [ 0.        , -0.75110125, -0.539856  , ...,  0.40235452,
        -1.02871967, -0.37386137],
       [ 0.        , -0.75110125, -1.06313613, ..., -0.30243475,
        -1.02871967,  0.67947517],
       [ 0.        ,  0.64134693,  1.0588266 , ..., -0.11268379,
         0.77308345,  0.71239193]])

In [238]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [1459, 1460]

In [ ]:
y_pred = regressor.predict(x_train)